@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap; 
}

html {
  height: 100%;
}
  
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans" sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.container-large {
  max-width: 1200px;
  margin: 0 auto;
}

.container-small {
  margin: 0 auto;
  padding: 0 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  display: block;
  margin-left: 12px;
  padding: 0;
}

.main-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;
  padding-top: 51px;
}

.button {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 160px;
  height: 37px;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s; 
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.hotel-button {
  font-family: "PT Sans Bold";
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase; 
  width: 575px;
  height: 60px;
  left: 352px;
  top: 2633px;
  border-radius: 10px;
}

.button-submit {
  width: 200px;
  height: 60px;
  border: 3px;
  margin-left: -7px;
  font-family: "PT Sans Bold", sans-serif;
  text-transform: uppercase;
  background: #83B3D3;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  transition: background-color ease-in-out .2s;
  cursor: pointer;
}

.button-submit:hover {
  background: #68A2CA;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button-submit:focus {
  border: 3px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button-submit:active {
  opacity: 0.3;
}

.button-list {
  color: #000000;
  border: 2px;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-apply {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  height: 48px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s; 
}

.button-apply:hover {
  background: #68A2CA;
  border-radius: 4px;
  outline: none;
}

.button-apply:focus {
  border: 3px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-apply:active {
  opacity: 0.3;
}

.button-reset {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  height: 23px;
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s; 
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-reset:active {
  opacity: 0.3;
}

.header {
  color: #000000;
}

.navigation {
  display: grid;
  grid-template-columns: 460px auto 460px;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap; 
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}  

.navigation-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 9px;
  height: 100%;
}

.search {
  padding-top: 12px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: "PT Sans Bold";
  line-height: 26px;
  font-size: 20px;
  padding: 6px 12px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  transition: color ease-in-out .2s;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.navigation-link:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.navigation-link-current::before {
  position: absolute;
  right: 12px;
  bottom: -17px;
  left: 12px;
  height: 2px;
  background-color: #756257;
  content: "";  
}

.navigation-user-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 3px solid transparent;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  transition: color ease-in-out .2s;
}

.navigation-user-link:hover {
  fill: #756257;
}

.navigation-user-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.navigation-user-link:active {
  fill: #FFFFFF;
  opacity: 0.3;
  background: #615048;
}

.navigation-user-icon {
  transition: fill ease-in-out .2s;
}

.navigation-user {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  list-style-type: none;
}

.navigation-user-item {
  margin-right: 11px;
}

.navigation-user-item:nth-child(2) {
  margin-right: 23px;
}

.navigation-user-liked {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 19px;
  height: 19px;
  font-size: 10px;
  font-family: "PT Sans", sans-serif;
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 50%;
}

.main-container {
  margin: 0 auto;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/viewbackground.jpg");
  width: 1200px;
  background-size: auto;
  background-repeat: no-repeat;
}

.catalog-main {
  width: 1200px;
  margin: 0;
  color: #333333;
  background-color: #ffffff;
}

.catalog-heading-holder {
  margin: 0 auto;
  background-image: url("../images/catalogbackground.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.container {
  padding: 0 72px;
}

.advantages-title {
  margin: 63px auto 23px;
  max-width: 720px;
  font-family: "PT Sans Bold"; 
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

.advantages-description {
  font-family: "PT Sans"; 
  margin-bottom: 79px;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-services-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.advantages-list {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-picture {
  display: flex;
  padding: 0;
  color: #FFFFFF;
  width: 1200px;
  background-color: #83B3D3;
  text-align: center;
  box-sizing: border-box;
}

.advantages-item-text {
  width: 400px;
  height: 384px;
}

.advantages-item-title {
  margin-top: 97px;
  margin-bottom: 25px;
  font-family: "PT Sans Bold";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title-description {
  font-family: "PT Sans";
  margin: 26px 75px 77px 75px;
  width: 250px;
  height: 73px;
  color: #333333;
  text-align: center;
}

.advantages-item:nth-child(2) {
  background: rgba(131, 179, 211, 0.2);;
}

.services-item {
  font-family: "PT Sans Bold";
  padding: 0;
  width: 400px;
  height: 384px;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.services-item:nth-child(2),
.services-item:nth-child(4),
.advantages-item:nth-of-type(1),
.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
}

.services-item-icon-hm {
  fill: #81B3D2;
  margin-top: 89px;
}

.services-item-icon-et {
  fill: #81B3D2;
  margin-top: 91px;
}

.services-item-icon-as {
  fill: #81B3D2;
  margin-top: 85px;
}

.service-title {
  margin: 23px 75px 20px 75px;
  font-size: 24px;
  line-height: 28px;
}  

.service-description {
  font-family: "PT Sans";
  margin: 0 75px 79px 75px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search-hotel {
  width: 1200px;
  background: #FFFFFF;
  text-align: center;
}

.search-question {
  font-family: "PT Sans Bold";
  margin: 91px 240px 15px 240px;
  font-weight: bold;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-date {
  font-family: "PT Sans";
  margin: 0 240px 73px 240px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.newsletter {
  margin-top: 91px;
  width: 1200px;
  height: 411px;
  background-image: url("../images/background.png");
  background-size: auto;
  text-align: center;
  color: #333333;
} 

.newsletter-title {
  font-family: "PT Sans Bold";
  margin: 0;
  padding: 95px 240px 15px 240px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-description {
  font-family: "PT Sans";
  margin: 0;
  padding: 0 240px 26px 240px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-email {
  margin: 0;
}

.field {
  font-family: "PT Sans", sans-serif; 
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  height: 60px;
  margin: 0;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: 3px solid transparent;
  padding: 0 19px 0 22px;
  transition: background-color ease-in-out .2s;
  box-sizing: border-box;
}

.field:hover {
  border-radius: 0px 10px 10px 0px;
}

.field:focus {
  border: 3px solid #83B3D3;
  border-radius: 0px 10px 10px 0px;
  outline: none;
}

.field:active {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: none;
}

.field:invalid {
  border: 2px solid #FF5757;
  box-sizing: border-box;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: none;
}

.catalog-heading-title {
  font-family: "PT Sans Bold"; 
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 35px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 45px;
  padding: 0; 
  color: #000000;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item-icon {
  fill: #fff;
  margin-left: 10px;
}

.breadcrumbs-link {
  font-family: "PT Sans"; 
  padding: 3px 10px;
  color: #FFFFFF;
  text-decoration: none;
  transition: color ease-in-out .2s;
}

.breadcrumbs-link:hover,
.breadcrumbs-button:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus,
.breadcrumbs-button:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.breadcrumbs-link:active,
.breadcrumbs-button:active {
  opacity: 0.3;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-infrastructure {
  width: 531px;
  margin: 0 67px 30px 0;
  padding: 0;
}

.catalog-filter-title {
  font-family: "PT Sans Bold";
  font-size: 20px;
  line-height: 26px;
  color: #242424;
  text-transform: uppercase;
}

.catalog-filter-label {
  font-family: "PT Sans";
}

.catalog-filter-houses {
  margin: 0;
  padding: 0;
}

.control-label {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
}

.catalog-sorting {
  display: flex;
  justify-content: space-between;
  padding: 0; 
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-title {
  font-family: "PT Sans Bold";
  font-size: 30px;
  line-height: 39px;
  margin: 50px 190px 45px 0;
  text-transform: uppercase;
}

.catalog-sorting-type {
  width: 287px;
  height: 48px;
  margin: 44px 81px 42px 0;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color ease-in-out .2s;
}

.catalog-sorting-type:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-sorting-type:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-sorting-type:active {
  color: #333333;
  opacity: 0.3;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-control {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  width: 250px;
  margin: 10px 20px 13px 19px;
  border:#ffffff;
}

option {
  padding-right: 94px;
}

.button-light {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-right: 8px;
  margin-top: 44px;
  transition: background-color ease-in-out .2s;
}

.button-light:hover,
.button-light-current:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-link:focus,
.breadcrumbs-link-current:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.breadcrumbs-link:active,
.breadcrumbs-link-current:active {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button-light-current {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-top: 44px;
  transition: background-color ease-in-out .2s;
}

.catalog-list {
  display: grid;
  gap: 30px;
  width: 1056px;
  list-style-type: none;
  margin-bottom: 31px;
  padding: 0;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 30px;
}

.catalog-card {
  display: grid;
  grid-template-columns: 180px 197px 163px min-content;
  grid-template-rows: auto auto 1fr auto;
  width: 1056px;
  background-color: #FFFFFF;
  border-top: 1px solid #E5E5E5;
  padding-top: 31px;
}

.catalog-card-image {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  width: 180px;
  height: 120px;
}

.catalog-card-image:hover {
  opacity: 0.6;
}

.catalog-card-image:focus {
  border: 3px solid #83B3D3;
}

.catalog-card-image:active {
  opacity: 0.3;
}

.catalog-card-title {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin: 0 0 0 37px;
  font-family: "PT Sans Bold";
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
  transition: color ease-in-out .2s;
}

.catalog-card-title:hover {
  color: #756257;
}

.catalog-card-title:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.catalog-card-title:active {
  opacity: 0.3;
}

.catalog-card-description {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  margin-left: 37px;
  color: #333333; 
}

.catalog-card-price {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  margin-left: 8px;
  color: #333333; 
  text-transform: uppercase;
}

.catalog-card-button {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 160px;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border:none;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin-left: 37px;
  padding: 9px 0 10px 0;
  cursor: pointer;
  transition: background-color ease-in-out .2s; 
}

.catalog-card-button:hover {
  background-color: #615048;
}

.catalog-card-button:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-button:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.catalog-card-important {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  left: 80.67%;
  right: 6%;
  border-radius: 4px;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  margin-left: 8px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border:none;
  cursor: pointer;
}

.catalog-card-important-favorite {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  left: 80.67%;
  right: 6%;
  border-radius: 4px;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  margin-left: 8px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s; 
}

.catalog-card-important:hover {
  background: #68A2CA;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important:focus {
  border: 3px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important:active {
  opacity: 0.3;
  border: 1px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-card-important-favorite:hover {
  background: #6C9E42;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important-favorite:focus {
  border: 3px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important-favorite:active {
  opacity: 0.3;
}

.catalog-card-rate-icons {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  list-style-type: none;
  padding: 0;
  fill: #83B3D3;
  padding-top: 5px;
}
  
.hotel-rating-stars-one {
  margin-left: 385px;
}

.hotel-rating-stars-two {
  margin-left: 405px;
}

.hotel-rating-stars-three {
  margin-left: 410px;
}

.hotel-rating-stars-four {
  margin-left: 410px;
}

.star {
  margin-right: 6px;
}

.catalog-card-rate-label {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  font-family: "PT Sans";
  width: 160px;
  background-color: #F2F2F2;
  border-radius: 4px;
  margin: 0 0 0 354px;
  padding: 9px 0 9px 0;
  text-align: center;
}

.dowload-product {
  font-family: "PT Sans Bold";
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin: 0 287px 30px 288px;
  color: #FFFFFF;
  width: 625px;
  height: 55px;
  background-color: #83B3D3;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s;
}

.line-img {
  grid-column: 1 / 5;
  margin-bottom: 31px;
  margin-left: 72px;
}

.pagination-holder {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  margin-left: 72px;
  background-color: #FFFFFF;
  border-top: 1px solid #E5E5E5;
}

.pagination {
  display: flex;
  margin-top: 31px;
  margin-bottom: 89px;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: 5px;
  width: 55px;
  height: 55px;
  background-color: #83B3D3;
  cursor: pointer;
  transition: background-color ease-in-out .2s; 
}

.pagination-item:hover {
  background: #68A2CA;
  border-radius: 4px;
}

.pagination-item:focus {
  border: 3px solid #756257;
  border-radius: 4px;
}

.pagination-item:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.pagination-item:disabled {
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
}

.favorite {
  background-color: #E5E5E5;
}

.pagination-link {
  font-family: "PT Sans Bold";
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}

.pagination-current {
  font-family: "PT Sans Bold";
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

.sorting-page-hotels .select-control {
  margin: 34px 0 93px 51px;
  padding-left: 17px;
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
}

.sorting-page {
  font-family: "PT Sans";
}

.catalog-newsletter {
  background-size: auto;
  text-align: center;
  margin-bottom: 138px;
  width: 1200px;
}

.catalog-newsletter-title {
  font-family: "PT Sans Bold";
  margin: 0 240px 29px 240px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.catalog-newsletter-description {
  font-family: "PT Sans";
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  height: 72px;
  margin: 0 240px 26px 240px;
  text-align: center;
  color: #333333;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 15px;
  box-sizing: border-box;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: fill ease-in-out .2s;
}

.footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-social-icon {
  fill: #83B3D3;
  transition: fill ease-in-out .2s;
}  

.footer-contact {
  text-align: center;
}

.footer-contact-phone {
  display: block;
  padding: 12px;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
  transition: color ease-in-out .2s;
}

.footer-contact-phone:hover {
  color: #756257;
}

.footer-contact-phone:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-contact-phone:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.footer-made-link {
  display: flex;
  width: 160px;
  height: 70px;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.footer-made-icon {
  width: 115px;
  height: 33px;
  fill: #000000;
  transition: fill ease-in-out .2s; 
}

.footer-made-link:hover {
  color: #756257;
}

.footer-made-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-made-link:active {
  opacity: 0.3;
}