@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap; 
}

html {
  height: 100%;
}
  
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans" sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.container-large {
  max-width: 1200px;
  margin: 0 auto;
}

.container-small {
  margin: 0 auto;
  padding-left: 63px;
  padding-right: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  display: block;
  margin-left: 12px;
  padding: 0;
}

.main-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;
  padding-top: 51px;
}

.button {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 160px;
  height: 37px;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s; 
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.hotel-button {
  font-family: "PT Sans Bold";
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase; 
  width: 575px;
  height: 60px;
  left: 352px;
  top: 2633px;
  border-radius: 10px;
}

.button-submit {
  width: 200px;
  height: 60px;
  border: 3px;
  margin-left: -7px;
  font-family: "PT Sans Bold", sans-serif;
  text-transform: uppercase;
  background: #83B3D3;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  transition: background-color ease-in-out .2s;
  cursor: pointer;
}

.button-submit:hover {
  background: #68A2CA;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button-submit:focus {
  border: 3px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button-submit:active {
  opacity: 0.3;
}

.button-list {
  color: #000000;
  border: 2px;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-apply {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  height: 48px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s; 
}

.button-apply:hover {
  background: #68A2CA;
  border-radius: 4px;
  outline: none;
}

.button-apply:focus {
  outline: 3px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-apply:active {
  opacity: 0.3;
}

.button-reset {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  height: 23px;
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
  background: transparent;
  text-decoration: none;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s; 
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-reset:active {
  opacity: 0.3;
}

.header {
  color: #000000;
  min-height: 65px;
}

.navigation {
  display: grid;
  grid-template-columns: 460px auto 460px;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap; 
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}  

.navigation-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 9px;
  height: 100%;
}

.search {
  padding-top: 12px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: "PT Sans Bold";
  line-height: 26px;
  font-size: 20px;
  padding: 6px 12px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  transition: color ease-in-out .2s;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.navigation-link:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.navigation-link-current::before {
  position: absolute;
  right: 12px;
  bottom: -17px;
  left: 12px;
  height: 2px;
  background-color: #756257;
  content: "";  
}

.navigation-user-link-liked {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  padding: 0;
  border: 3px solid transparent;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  transition: color ease-in-out .2s;
}

.navigation-user-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  padding: 0;
  border: 3px solid transparent;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  transition: color ease-in-out .2s;
}

.navigation-user-link:hover {
  fill: #756257;
}

.navigation-user-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.navigation-user-link:active {
  fill: #FFFFFF;
  opacity: 0.3;
  background: #615048;
}

.navigation-user-icon {
  transition: fill ease-in-out .2s;
}

.navigation-user-icon-liked {
  margin-bottom: 10px;
  transition: fill ease-in-out .2s;
}

.navigation-user {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  list-style-type: none;
}

.navigation-user-item:nth-child(2) {
  margin-right: 24px;
}

.navigation-user-liked {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  right: -6px;
  width: 19px;
  height: 19px;
  font-size: 10px;
  font-family: "PT Sans", sans-serif;
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 50%;
}

.popover {
  position: absolute;
  top: 66px;
  right: 835px;
  z-index: 1;
  width: 400px;
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #FFFFFF;
  min-height: 231px;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: none;
}

.popover-liked::before {
  content: ''; 
  position: absolute; 
  top: -20px;
  left: 185px; 
  border: 10px solid transparent; 
  border-bottom: 10px solid #FFFFFF;
}

.popover-open {
  display: block;
}

.popover-content {
  height: 100%;
}

.liked-items-list {
  padding: 0;
}

.liked-item {
  display: flex;
  margin: 25px;
  padding: 0;
  height: 48px;
}

.liked-img-title-description {
  display: flex;
  text-decoration: none;
  height: 55px;
}

.liked-img-title-description:hover {
  opacity: 0.6;
}

.liked-img-title-description:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.liked-img-title-description:hover {
  opacity: 0.3;
}

.liked-item-image {
  padding-top: -5px;
  border-radius: 24px;
}

.liked-title-description {
  width: 261px;
}

.liked-item-title {
  font-family: "PT Sans Bold";
  font-size: 18px;
  padding-left: 17px;
  margin: 0;
  color: #000000;
}

.liked-item-description {
  font-family: "PT Sans";
  font-size: 16px;
  padding-left: 17px;
  margin: 0;
  color: #333333;
}

.liked-item-button {
  width: 30px;
  height: 30px;
  fill: #e5e5e5;
  background-color: #FFFFFF;
  margin-left: 18px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.liked-item-button:hover {
  fill: #000000;
}

.liked-item-button:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.liked-item-button:active {
  fill: #e5e5e5;
}

.popover-button {
  position: absolute;
  font-family: "PT Sans Bold";
  width: 401px;
  height: 60px;
  left: -2px;
  top: 170px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  background: #756257;
  border-radius: 0px 0px 20px 20px;
  cursor: pointer;
  border: none;
}

.popover-button:hover {
  background: #615048;
}

.popover-button:focus {
  border: 3px solid #83B3D3;
}

.popover-button:active {
  opacity: 0.3;
}

.main-container {
  margin: 0 auto;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/viewbackground.jpg");
  width: 1200px;
  background-size: auto;
  background-repeat: no-repeat;
}

.advantages-title {
  margin: 58px auto 26px;
  max-width: 720px;
  font-family: "PT Sans Bold"; 
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-family: "PT Sans"; 
  margin-bottom: 82px;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.advantages-services-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.advantages-list {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-picture {
  display: flex;
  padding: 0;
  color: #FFFFFF;
  width: 1200px;
  background-color: #83B3D3;
  text-align: center;
  box-sizing: border-box;
}

.advantages-item-text {
  width: 400px;
  height: 384px;
}

.advantages-item-title {
  margin-top: 97px;
  margin-bottom: 27px;
  font-family: "PT Sans Bold";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title-description {
  font-family: "PT Sans";
  margin: 35px 75px 77px 75px;
  width: 250px;
  height: 73px;
  color: #fff;
  text-align: center;
}

.advantages-tit-description {
  font-family: "PT Sans";
  margin: 33px 75px 77px 75px;
  width: 250px;
  height: 73px;
  color: #333333;;
  text-align: center;
}

.advantages-tit-number {
  padding: 0 163px;
}

.advantages-item:nth-child(2) {
  background: rgba(131, 179, 211, 0.2);;
}

.services-item {
  font-family: "PT Sans Bold";
  padding: 0;
  width: 400px;
  height: 384px;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.services-item:nth-child(2),
.services-item:nth-child(4),
.advantages-item:nth-of-type(1),
.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
}

.services-item-icon-hm {
  fill: #81B3D2;
  margin-top: 89px;
}

.services-item-icon-et {
  fill: #81B3D2;
  margin-top: 91px;
}

.services-item-icon-as {
  fill: #81B3D2;
  margin-top: 85px;
}

.service-title {
  margin: 22px 75px 20px 74px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}  

.service-description {
  font-family: "PT Sans";
  margin: 0 75px 79px 75px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search-hotel {
  width: 1200px;
  padding: 91px 0;
  background: #FFFFFF;
  text-align: center;
}

.search-question {
  font-family: "PT Sans Bold";
  margin-bottom: 29px;
  margin-top: 0;
  font-weight: bold;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-date {
  font-family: "PT Sans";
  margin-bottom: 60px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.newsletter {
  width: 1200px;
  height: 411px;
  background-image: url("../images/background.png");
  background-size: auto;
  text-align: center;
  color: #333333;
} 

.newsletter-title {
  font-family: "PT Sans Bold";
  margin: 0;
  padding: 95px 240px 30px 240px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-description {
  font-family: "PT Sans";
  margin: 0;
  padding: 0 240px 40px 240px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-email {
  margin: 0;
}

.field {
  font-family: "PT Sans", sans-serif; 
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  height: 60px;
  margin: 0;
  background: #F2F2F2;
  border-radius: 0 10px 10px 0;
  padding: 0 19px 0 22px;
  transition: background-color ease-in-out .2s;
  box-sizing: border-box;
}

.field:hover {
  border-radius: 0px 10px 10px 0px;
}

.field:focus {
  border: 3px solid #83B3D3;
  border-radius: 0px 10px 10px 0px;
  outline: none;
}

.field:active {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: none;
}

.field:invalid {
  border: 2px solid #FF5757;
  box-sizing: border-box;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: none;
}

.catalog-main {
  width: 1200px;
  margin: 0;
  color: #333333;
  background-color: #ffffff;
}

.catalog-heading-holder {
  margin: 0 auto;
  height: 408px;
  background-image: url("../images/catalogbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding: 0 72px;
}

.catalog-heading-title {
  font-family: "PT Sans Bold"; 
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 30px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -3px;
  margin-bottom: 42px;
  padding: 0; 
  color: #000000;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item-icon {
  fill: #fff;
  margin-left: 15px;
}

.breadcrumbs-link {
  font-family: "PT Sans"; 
  padding: 3px 10px;
  color: #FFFFFF;
  text-decoration: none;
  transition: color ease-in-out .2s;
}

.breadcrumbs-link:hover,
.breadcrumbs-button:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus,
.breadcrumbs-button:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.breadcrumbs-link:active,
.breadcrumbs-button:active {
  opacity: 0.3;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-infrastructure {
  width: 150px;
  margin: 0 67px 30px 0;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  padding: 0;
  margin-top: 35px;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.control {
  position: relative;
  display: block;
}

.control-infrastructure-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-infrastructure-mark::before {
  position: absolute;
  content: '';
  top: 10px;
  left: 2px;   
  width: 9px;
  height: 2px;
  background: #3F5E72;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.control-input[type="checkbox"]:checked + .control-infrastructure-mark::after {
  position: absolute; 
  content: '';
  top: 8px;
  left: 6px;
  width: 13px;
  height: 2px;
  background: #3F5E72;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.control-label {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  margin-left: 39px;
  color: #ffffff;
}

.catalog-filter-houses {
  width: 144px;
  margin: 0;
  padding: 0;
  border: none;
}

.control-input[type="radio"] + .control-houses-mark {
  border-radius: 50%;
}

.control-houses-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.control-houses-mark:focus {
  border: 3px solid #83B3D3;
}

.control-input[type="radio"]:checked + .control-houses-mark::before {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-price {
  margin-top: 7px;
  margin-left: 168px;
  margin-right: 81px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-family: "PT Sans Bold";
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  color: #ffffff;
}

.catalog-filter-label {
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans";
  width: 143px;
}

.catalog-filter-label::after {
  position: absolute;
  width: 44px;
  height: 0px;
  left: 795px;
  top: 336px;
  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
  content: "";  
}

.range {
  margin-top: 34px;
}

.range-wrapper-inputs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 287px;
  height: 48px;
  padding-left: 18px;
  padding-right: 13px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.range-wrapper-inputs:hover {
  opacity: 0.6;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
}

.range-wrapper-inputs:focus {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 4px 0px 0px 4px;
}

.range-wrapper-inputs:active {
  background: #756257;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
}

.range-input {
  width: 40px;
  font-family: "PT Sans";
  background-color: transparent;
  color: white;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 28px;
  background-color: #333333;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
} 

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.buttons {
  width: 160px;
  margin-top: 65px;
}

.catalog-sorting {
  display: flex;
  justify-content: space-between;
  padding: 0; 
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-title {
  font-family: "PT Sans Bold";
  font-size: 30px;
  line-height: 39px;
  margin: 50px 190px 45px 0;
  text-transform: uppercase;
}

.catalog-sorting-type {
  width: 287px;
  height: 48px;
  margin: 44px 81px 42px 0;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color ease-in-out .2s;
}

.catalog-sorting-type:hover, .select-hotels-control:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-sorting-type:focus, .select-hotels-control:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-sorting-type:active, .select-hotels-control:active {
  color: #333333;
  opacity: 0.3;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-control {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  width: 250px;
  margin: 10px 20px 13px 18px;
  border: #ffffff;
  cursor: pointer;
}

.option {
  padding-right: 94px;
}

.button-light {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-right: 8px;
  margin-top: 44px;
  transition: background-color ease-in-out .2s;
}

.button-light:hover,
.button-light-current:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-link:focus,
.breadcrumbs-link-current:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-link:active,
.breadcrumbs-link-current:active {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-light-current {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-top: 44px;
  transition: background-color ease-in-out .2s;
}

.catalog-list {
  display: grid;
  gap: 30px;
  width: 1056px;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  border-bottom: 1px solid #E5E5E5;
}

.catalog-card {
  display: grid;
  grid-template-columns: 180px 197px 163px min-content;
  grid-template-rows: auto auto 1fr auto;
  width: 1056px;
  background-color: #FFFFFF;
  border-top: 1px solid #E5E5E5;
  padding-top: 30px;
}

.catalog-card:nth-child(4) {
  margin-bottom: 30px;
}

.catalog-card-image {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  width: 180px;
  height: 120px;
  border: none;
}

.catalog-card-image:hover {
  opacity: 0.6;
}

.catalog-card-image:focus {
  outline: 3px solid #83B3D3;
}

.catalog-card-image:active {
  opacity: 0.3;
}

.catalog-card-title {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin: 0 0 0 37px;
  font-family: "PT Sans Bold";
  font-size: 24px;
  color: #000000;
  text-decoration: none;
  transition: color ease-in-out .2s;
}

.catalog-card-title:hover {
  color: #756257;
}

.catalog-card-title:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.catalog-card-title:active {
  opacity: 0.3;
}

.catalog-card-description {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-family: "PT Sans";
  font-size: 18px;
  margin-left: 37px;
  color: #333333; 
  padding-top: 8px;
}

.catalog-card-price {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  font-family: "PT Sans";
  font-size: 16px;
  color: #333333; 
  padding-top: 8px;
}

.catalog-card-button {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 151px;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin-left: 37px;
  padding: 9px 0 10px 0;
  cursor: pointer;
  border: none;
}

.catalog-card-button:hover {
  background-color: #615048;
}

.catalog-card-button:focus {
  outline: 4px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-card-button:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.catalog-card-important {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  border-radius: 4px;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  color: #FFFFFF;
  background-color: #83B3D3;
  border:none;
  cursor: pointer;
}

.catalog-card-important-favorite {
  font-family: "PT Sans Bold";
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  margin-left: 8px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s; 
}

.catalog-card-important:hover {
  background: #68A2CA;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important:focus {
  border: 3px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important:active {
  opacity: 0.3;
  border: 1px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-card-important-favorite:hover {
  background: #6C9E42;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important-favorite:focus {
  border: 3px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important-favorite:active {
  opacity: 0.3;
}

.catalog-card-rate-icons {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  list-style-type: none;
  padding: 0;
  fill: #83B3D3;
}
  
.hotel-rating-stars-one {
  margin-left: 385px;
}

.hotel-rating-stars-two {
  margin-left: 405px;
}

.hotel-rating-stars-three {
  margin-left: 410px;
}

.hotel-rating-stars-four {
  margin-left: 410px;
}

.star {
  margin-right: 5px;
}

.catalog-card-rate-label {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  font-family: "PT Sans";
  width: 160px;
  background-color: #F2F2F2;
  border-radius: 4px;
  margin: 0 0 0 354px;
  padding: 9px 0;
  text-align: center;
  text-transform: uppercase;
}

.dowload-product {
  font-family: "PT Sans Bold";
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin: 10px 0 30px 288px;
  color: #FFFFFF;
  width: 625px;
  height: 55px;
  background-color: #83B3D3;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s;
}

.dowload-product:hover {
  background-color: #68A2CA;;
}

.dowload-product:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  
}

.dowload-product:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.line-img {
  grid-column: 1 / 5;
  margin-bottom: 31px;
  margin-left: 72px;
}

.pagination-holder {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  margin-left: 72px;
  background-color: #FFFFFF;
  border-top: 1px solid #E5E5E5;
}

.pagination {
  display: flex;
  margin-top: 30px;
  margin-bottom: 89px;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: 8px;
  width: 55px;
  height: 55px;
  background-color: #83B3D3;
  cursor: pointer;
  transition: background-color ease-in-out .2s; 
}

.pagination-item:hover {
  background: #68A2CA;
  border-radius: 4px;
}

.pagination-item:focus {
  border: 3px solid #756257;
  border-radius: 4px;
}

.pagination-item:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.pagination-item:disabled {
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
}

.favorite {
  background-color: #E5E5E5;
}

.pagination-link {
  font-family: "PT Sans Bold";
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}

.pagination-current {
  font-family: "PT Sans Bold";
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

.select-hotels-control {
  margin: 33px 0 93px 50px;
  padding-left: 17px;
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  cursor: pointer;
}

.sorting-page {
  font-family: "PT Sans";
}

.catalog-newsletter {
  background-size: auto;
  text-align: center;
  margin-bottom: 138px;
  width: 1200px;
}

.catalog-newsletter-title {
  font-family: "PT Sans Bold";
  margin: 0 240px 29px 240px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.catalog-newsletter-description {
  font-family: "PT Sans";
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  height: 72px;
  margin: 0 240px 26px 240px;
  text-align: center;
  color: #333333;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 5px;
  box-sizing: border-box;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: fill ease-in-out .2s;
}

.footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-social-icon {
  fill: #83B3D3;
  transition: fill ease-in-out .2s;
}  

.footer-contact {
  margin-left: 10px;
  text-align: center;
}

.footer-contact-phone {
  display: block;
  padding: 12px;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
  transition: color ease-in-out .2s;
}

.footer-contact-phone:hover {
  color: #756257;
}

.footer-contact-phone:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-contact-phone:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.footer-made-link {
  display: flex;
  width: 160px;
  height: 70px;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.footer-made-icon {
  width: 115px;
  height: 33px;
  fill: #000000;
  transition: fill ease-in-out .2s; 
}

.footer-made-link:hover {
  color: #756257;
}

.footer-made-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-made-link:active {
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 54px 70px 70px 70px;
  background-color: #FFFFFF;
}

.modal-auth {
  width: 575px;
  height: 561px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-title {
  margin: 0;
  margin-bottom: 59px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 70px;
  margin-top: 54px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}  

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-button {
  width: 575px;
  height: 60px;
  font-family: "PT Sans Bold";
  font-size: 20px;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 10px;
  border:none;
  cursor: pointer;
}

.modal-button:hover {
  background: #68A2CA;
}

.modal-button:focus {
  border: 3px solid #756257;
  border-radius: 10px;
}

.modal-button:active {
  opacity: 0.3;
}

.appointment-title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  color: #000000;
}

.appointment-form-group {
  margin: 0;
}

.appointment-form-field {
  padding: 0 18px;
  width: 420px;
  height: 50px;
  margin-left: 45px;
  background: #F2F2F2;
  border: 4px solid transparent;
  box-sizing: border-box;
  background-image: url("../images/calendar.svg");
  background-position: right;
  background-repeat: no-repeat;
  
}

.appointment-info {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 40px;
  margin: 0 0 0 152px;
  padding: 0;
  color: #FF5757;
}

.appointment-information {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 40px;
  margin: 0 0 0 152px;
  padding: 0;
  color: #333333;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 575px;
  box-sizing: border-box;
}

.amount-field {
  font: inherit;
  width: 70px;
  margin: 0;
}

.amount-of-adults,
.amount-of-children {
  font-family: "PT Sans Bold";
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.amount-of-children {
  margin-left: 56px;
}

.amount button[name="min-adult"] {
  margin-left: 70px;
}

.amount button[name="min-children"] {
  margin-left: 18px;
}

.amount button {
  height: 50px;
  width: 40px;
  border: none;
  background-color: #f2f2f2;
}

.button-min {
  background-image: url("../images/minus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-pluse {
  background-image: url("../images/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

button, input {
  overflow: visible;
  font: inherit;
}  

.amount-field {
  width: 60px;
  height: 48px;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
}

.amount button[name="plus-adult"] {
  margin-right: 52px;
}

.info-link {
  position: relative;
  margin-left: 12px;
  transition: color ease-in-out .2s;
}

.info-icon {
  transition: fill ease-in-out .2s;
}

.info-title {
  position: absolute;
  top: -5px;
  right: -4px;
  width: 19px;
  height: 19px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 50%;
}

.popover-info {
  position: absolute;
  top: 420px;
  right: 85px;
  z-index: 1;
  width: 256px;
  min-height: 143px;
  box-sizing: border-box;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
}

.popover-info::before {
  content: ''; 
  position: absolute; 
  top: -20px;
  left: 122px; 
  border: 10px solid transparent; 
  border-bottom: 10px solid #333333;
}  

.popover-description {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 15px 18px 18px 22px;
  margin: 0;
}
