@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.container-large {
  max-width: 1200px;
  margin: 0 auto;
}

.container-small {
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 72px;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo-link {
  position: absolute;
  display: block;
  width: 138px;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.header-logo {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}

.main-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;
  padding-top: 51px;
}

.button {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 160px;
  height: 37px;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.hotel-button {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  width: 575px;
  height: 60px;
  left: 352px;
  top: 2633px;
  border-radius: 10px;
}

.button-submit {
  width: 200px;
  height: 60px;
  border: 3px;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #83B3D3;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  transition: background-color ease-in-out .2s;
  cursor: pointer;
}

.button-submit:hover {
  background: #68A2CA;
  box-sizing: border-box;
  outline: none;
}

.button-submit:focus {
  border: 3px solid #756257;
  box-sizing: border-box;
  outline: none;
}

.button-submit:active {
  opacity: 0.3;
}

.button-list {
  color: #000000;
  border: 2px;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-apply {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  height: 48px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s;
}

.button-apply:hover {
  background: #68A2CA;
  border-radius: 4px;
  outline: none;
}

.button-apply:focus {
  outline: 3px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-apply:active {
  opacity: 0.3;
}

.button-reset {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  width: 100px;
  text-align: center;
  color: #FFFFFF;
  margin: 20px auto 0;
  padding: 1px 0;
  background: transparent;
  text-decoration: none;
  box-sizing: border-box;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-reset:active {
  opacity: 0.3;
}

.header {
  color: #000000;
  height: 65px;
}

.navigation {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 9px;
  height: 100%;
}

.search {
  padding-top: 12px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  line-height: 26px;
  font-size: 20px;
  padding: 3px 9px;
  border: 3px solid transparent;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  transition: color ease-in-out .2s;
  box-sizing: border-box;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.navigation-link:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  left: 50%;
  width: calc(100% - 18px);
  transform: translateX(-50%);
  bottom: -17px;
  height: 2px;
  background-color: #756257;
}

.navigation-user-link-liked {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  padding: 0;
  border: 3px solid transparent;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  transition: color ease-in-out .2s;
}

.navigation-user-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  padding: 0;
  border: 3px solid transparent;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  transition: color ease-in-out .2s;
}

.navigation-user-link:hover {
  fill: #756257;
}

.navigation-user-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.navigation-user-link:active {
  fill: #FFFFFF;
  opacity: 0.3;
  background: #615048;
}

.navigation-user-icon {
  transition: fill ease-in-out .2s;
}

.navigation-user-icon-liked {
  margin-bottom: 10px;
  transition: fill ease-in-out .2s;
}

.navigation-user {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  list-style-type: none;
}

.navigation-user-item:nth-child(2) {
  position: relative;
  margin-right: 24px;
}

.navigation-user-liked {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  right: -6px;
  width: 19px;
  height: 19px;
  font-size: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 50%;
}

.popover {
  position: absolute;
  display: none;
  bottom: -11px;
  left: calc(50% + 2px);
  transform: translate(-50%, 100%);
  z-index: 1;
  width: 400px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  min-height: 231px;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.popover-liked::before {
  content: '';
  background-image: url("../images/popover-decorator.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 20px;
  height: 9px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}

.popover-open {
  display: block;
}

.popover-content {
  height: 100%;
}

.popover-liked-list {
  margin: 14px 14px 0 14px;
  padding: 0;
}

.popover-liked-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0;
}

.popover-liked-item:last-child {
  margin-bottom: 0;
}

.popover-liked-item-data-link {
  display: flex;
  text-decoration: none;
  padding: 7px;
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: opacity ease-in-out .2s;
}

.popover-liked-item-data-link:hover {
  opacity: 0.6;
}

.popover-liked-item-data-link:active {
  border-color: transparent;
  opacity: 0.3;
}

.popover-liked-item-data-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.liked-item-image {
  flex: 0 0 48px;
  width: 28px;
  border-radius: 24px;
}

.liked-item-data {
  flex: 0 0 auto;
  padding-left: 17px;
  margin-bottom: 2px;
}

.liked-item-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  color: #000000;
}

.liked-item-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: #333333;
}

.liked-item-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  fill: #e5e5e5;
  background-color: #FFFFFF;
  margin-top: 9px;
  margin-left: 18px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: fill ease-in-out .2s;
}

.liked-item-button:hover {
  fill: #000000;
}

.liked-item-button:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.liked-item-button:active {
  fill: #e5e5e5;
}

.popover-button {
  position: absolute;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  width: calc(100% + 2px);
  height: 60px;
  left: -1px;
  bottom: -1px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  background: #756257;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
  border: none;
}

.popover-button:hover {
  background: #615048;
}

.popover-button:focus {
  border: 3px solid #83B3D3;
  outline: none;
}

.popover-button:active {
  opacity: 0.3;
}

.main-container {
  margin: 0 auto;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/viewbackground.jpg");
  width: 1200px;
  background-size: auto;
  background-repeat: no-repeat;
}

.advantages-title {
  margin: 58px auto 31px;
  max-width: 720px;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.advantages-services-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.advantages-list {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 384px;
}

.advantages-item-picture {
  display: flex;
  padding: 0;
  color: #FFFFFF;
  width: 1200px;
  height: auto;
  text-align: center;
  box-sizing: border-box;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 384px;
  padding-top: 98px;
  color: #ffffff;
  box-sizing: border-box;
}

.advantages-item-text-dark {
  color: #000000;
}

.advantages-item-title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages-title-description {
  max-width: 250px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  height: 73px;
  text-align: center;
  margin: 0;
}

.advantages-title-number {
  margin: 28px 0 31px;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2) {
  background: #83B3D3;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  background:rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
 background-color: rgba(131, 179, 211, 0.2);
}

.services-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.services-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  padding: 0;
  width: 400px;
  height: 384px;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.services-item:nth-child(1),
.services-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.12)
}

.services-item-icon-hm {
  fill: #81B3D2;
  margin-top: 89px;
}

.services-item-icon-et {
  fill: #81B3D2;
  margin-top: 91px;
}

.services-item-icon-as {
  fill: #81B3D2;
  margin-top: 85px;
}

.service-title {
  margin: 23px 0 20px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service-description {
  font-family: "PT Sans";
  font-weight: 400;
  margin: 0 75px 79px 75px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search-hotel {
  width: 1200px;
  padding: 89px 0;
  background: #FFFFFF;
  text-align: center;
}

.search-question {
  font-family: "PT Sans Bold";
  font-weight: 700;
  margin-bottom: 29px;
  margin-top: 0;
  font-weight: bold;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-date {
  font-family: "PT Sans";
  font-weight: 400;
  margin-bottom: 60px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.newsletter {
  width: 1200px;
  height: 411px;
  background-image: url("../images/background.png");
  background-size: auto;
  text-align: center;
  color: #333333;
}

.newsletter-title {
  font-family: "PT Sans Bold";
  font-weight: 700;
  margin: 0;
  padding: 94px 0 29px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 0 0 47px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-email {
  margin: 0;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  height: 60px;
  margin: 0;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: 2px solid transparent;
  padding: 0 20px;
  transition: background-color ease-in-out .2s;
  box-sizing: border-box;
}

.field:hover {
  border-radius: 10px 0 0 10px;
}

.field:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.field:active {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: none;
}

.field.is-error {
  border: 2px solid #FF5757;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.catalog-main {
  width: 1200px;
  margin: 0;
  color: #333333;
  background-color: #ffffff;
}

.catalog-heading-holder {
  margin: 0 auto;
  height: 408px;
  background-image: url("../images/catalogbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding: 0 72px;
}

.catalog-heading-title {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 30px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -2px;
  margin-top: -4px;
  margin-bottom: 42px;
  padding: 0;
  color: #000000;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 12px;
}

.breadcrumbs-item::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../images/arrow-breadcrumbs.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 5px;
  height: 8px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.breadcrumbs-item:first-child::before {
  content: none;
}

.breadcrumbs-link {
  position: relative;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  border: 3px solid transparent;
  transition: color ease-in-out .2s;
  box-sizing: border-box;
}

.breadcrumbs-button {
  border: 3px solid transparent;
}

.breadcrumbs-link:hover,
.breadcrumbs-button:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus,
.breadcrumbs-button:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.breadcrumbs-link:active,
.breadcrumbs-button:active {
  opacity: 0.3;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-infrastructure {
  width: 150px;
  margin: 0 67px 30px 0;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  padding: 0;
  margin-top: 32px;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.control {
  position: relative;
  display: block;
}

.control-infrastructure-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.control-input[type="checkbox"]:hover + .control-infrastructure-mark {
  background: rgba(255, 255, 255, 0.6);
  transition: background-color ease-in-out.2s;
}

.control-input[type="checkbox"]:focus + .control-infrastructure-mark {
  background: rgba(255, 255, 255, 0.6);
  outline-width: 3px;
  outline-style: solid;
  outline-color: #83B3D3;
}

.control-input[type="checkbox"]:active + .control-infrastructure-mark {
  background: rgba(255, 255, 255, 0.3);
  transition: background-color ease-in-out.2s;
}

.control-input[type="checkbox"]:checked + .control-infrastructure-mark::before {
  position: absolute;
  content: '';
  top: 10px;
  left: 2px;
  width: 9px;
  height: 2px;
  background: #3F5E72;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.control-input[type="checkbox"]:checked + .control-infrastructure-mark::after {
  position: absolute;
  content: '';
  top: 8px;
  left: 6px;
  width: 13px;
  height: 2px;
  background: #3F5E72;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.control-label {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-left: 39px;
  color: #ffffff;
}

.catalog-filter-houses {
  width: 144px;
  margin: 0;
  padding: 0;
  border: none;
}

.control-input[type="radio"]:focus + .control-houses-mark {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #83B3D3;
}

.control-input[type="radio"]:active + .control-houses-mark {
  outline: none;
}

.control-houses-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-houses-mark::before {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-price {
  margin-left: 168px;
  margin-right: 81px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  color: #ffffff;
}

.catalog-filter-label {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  width: 143px;
  padding: 0 14px;
}

.catalog-filter-label:first-child::after {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  right: 0;
  width: 2px;
  height: 48px;
  background-color: #ffffff;
}

.range {
  margin-top: 34px;
}

.range-wrapper-inputs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 287px;
  height: 48px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.range-wrapper-inputs:hover {
  opacity: 0.6;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
}

.range-wrapper-inputs:focus {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 4px 0px 0px 4px;
}

.range-wrapper-inputs:active {
  background: #756257;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
}

.range-input {
  width: 40px;
  font-family: "PT Sans";
  font-weight: 400;
  background-color: transparent;
  color: white;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 28px;
  background-color: #333333;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 160px;
  margin-top: 62px;

}

.catalog-filter-label-decoration {
  color: #ffffff;
  opacity: 0.3;
}

.catalog-sorting {
  display: flex;
  justify-content: space-between;
  padding: 0;
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-title {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin: 50px 190px 45px 0;
  text-transform: uppercase;
}

.catalog-sorting-type {
  width: 287px;
  height: 48px;
  margin: 44px 81px 42px 0;
  outline: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color ease-in-out .2s;
}

.select-control {
  width: 287px;
  height: 48px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 10px 20px 13px 18px;
  border: #ffffff;
  cursor: pointer;
}

.select-control:hover, .select-hotels-control:hover {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: #83B3D3;
  transition: outline-color ease-in-out.2s;
}

.select-control:focus, .select-hotels-control:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: #83B3D3;;
}

.select-control:active, .select-hotels-control:active {
  opacity: 0.6;
}

.option {
  padding-right: 94px;
}

.button-light {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  outline: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-right: 8px;
  margin-top: 44px;
}

.button-light:hover {
  outline-color: #83B3D3;
  transition: outline-color ease-in-out.2s;
}

.button-light:focus {
  outline-color: #83B3D3;
}

.button-light:active {
  outline-color: #000000;
}

.button-light-current {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  outline: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-top: 44px;
}

.catalog-list {
  display: grid;
  gap: 30px;
  width: 1056px;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  border-bottom: 1px solid #E5E5E5;
}

.catalog-card {
  display: grid;
  grid-template-columns: 180px 197px 163px min-content;
  grid-template-rows: auto auto 1fr auto;
  width: 1056px;
  background-color: #FFFFFF;
  border-top: 1px solid #E5E5E5;
  padding-top: 30px;
}

.catalog-card:nth-child(4) {
  margin-bottom: 30px;
}

.catalog-card-image {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  width: 180px;
  height: 120px;
  border: none;
}

.catalog-card-image:hover {
  opacity: 0.6;
}

.catalog-card-image:focus {
  outline: 3px solid #83B3D3;
}

.catalog-card-image:active {
  opacity: 0.3;
}

.catalog-card-title {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin: 0 0 0 37px;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  border: 3px solid transparent;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
  transition: color ease-in-out .2s;
}

.catalog-card-title:hover {
  color: #756257;
}

.catalog-card-title:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.catalog-card-title:active {
  opacity: 0.3;
}

.catalog-card-description {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  margin-left: 37px;
  color: #333333;
  padding-top: 2px;
}

.catalog-card-price {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  padding-top: 2px;
}

.catalog-card-button {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 151px;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin-left: 37px;
  padding: 9px 0 10px 0;
  cursor: pointer;
  border: none;
}

.catalog-card-button:hover {
  background-color: #615048;
}

.catalog-card-button:focus {
  outline: 4px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-card-button:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.catalog-card-important {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  border-radius: 4px;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  color: #FFFFFF;
  background-color: #83B3D3;
  border:none;
  cursor: pointer;
}

.catalog-card-important-favorite {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  color: #FFFFFF;
  background-color: #7DB54F;
  border:none;
  cursor: pointer;
  transition: background-color ease-in-out .2s;
}

.catalog-card-important:hover {
  background: #68A2CA;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important:focus {
  border: 3px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important:active {
  opacity: 0.3;
  border: 1px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-card-important-favorite:hover {
  background: #6C9E42;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important-favorite:focus {
  border: 3px solid #756257;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.catalog-card-important-favorite:active {
  opacity: 0.3;
}

.catalog-card-rate-icons {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  list-style-type: none;
  padding: 0;
  fill: #83B3D3;
}

.hotel-rating-stars-one {
  margin-left: 385px;
}

.hotel-rating-stars-two {
  margin-left: 405px;
}

.hotel-rating-stars-three {
  margin-left: 410px;
}

.hotel-rating-stars-four {
  margin-left: 410px;
}

.star {
  margin-right: 5px;
}

.catalog-card-rate-label {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  background-color: #F2F2F2;
  border-radius: 4px;
  margin: 0 0 0 354px;
  padding: 9px 0;
  text-align: center;
  text-transform: uppercase;
}

.dowload-product {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin: 10px 0 30px 288px;
  color: #FFFFFF;
  width: 625px;
  height: 55px;
  background-color: #83B3D3;
  border:none;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color ease-in-out .2s;
}

.dowload-product:hover {
  background-color: #68A2CA;;
}

.dowload-product:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;

}

.dowload-product:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.line-img {
  grid-column: 1 / 5;
  margin-bottom: 31px;
  margin-left: 72px;
}

.pagination-holder {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  margin-left: 72px;
  background-color: #FFFFFF;
  border-top: 1px solid #E5E5E5;
}

.pagination {
  display: flex;
  margin-top: 30px;
  margin-bottom: 89px;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  box-sizing: border-box;
  margin-right: 8px;
  width: 55px;
  height: 55px;
  background-color: #83B3D3;
  cursor: pointer;
}

.pagination-link:hover {
  background: #68A2CA;
  transition: background-color ease-in-out.2s;
}

.pagination-link:focus {
  background: #68A2CA;
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: #756257;
  outline-style: solid;
}

.pagination-link:active {
  color: #FFFFFF;
  opacity: 0.3;
  outline: none;
}

.pagination-link:disabled {
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
}

.favorite {
  background-color: #E5E5E5;
}

.pagination-link {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}

.pagination-link-current {
  font-family: "PT Sans Bold";
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

.select-hotels-control {
  margin: 33px 0 93px 50px;
  padding-left: 17px;
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  cursor: pointer;
}

.sorting-page {
  font-family: "PT Sans";
  font-weight: 400;
  padding-top: 5px;
}

.catalog-newsletter {
  background-size: auto;
  text-align: center;
  margin-bottom: 138px;
  width: 1200px;
}

.catalog-newsletter-title {
  font-family: "PT Sans Bold";
  font-weight: 700;
  margin: 0 240px 29px 240px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.catalog-newsletter-description {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  height: 72px;
  margin: 0 240px 26px 240px;
  text-align: center;
  color: #333333;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 5px;
  box-sizing: border-box;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: fill ease-in-out .2s;
}

.footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;

}

.footer-social-icon {
  fill: #83B3D3;
  transition: fill ease-in-out .2s;
}

.footer-contact {
  margin-left: 20px;
  text-align: center;
}

.footer-contact-phone {
  display: block;
  padding: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
  transition: color ease-in-out .2s;
}

.footer-contact-phone:hover {
  color: #756257;
}

.footer-contact-phone:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  color: #756257;
  outline: none;
}

.footer-contact-phone:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.footer-contact {
  margin-left: 20px;
  text-align: center;
}

.footer-made {
  width: 160px;
  height: 70px;
}

.footer-made-link {
  display: flex;
  height: 70px;
  margin-left: 37px;
  padding-left: 3px;
  align-items: center;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.footer-made-icon {
  width: 115px;
  height: 33px;
  fill: #000000;
}

.footer-made-link:hover path {
  fill: #756257;
}

.footer-made-link:focus path {
  fill: #756257;
}

.footer-made-link:focus {
  Width: 140px;
  fill: #756257;
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: #83B3D3;
  outline-style: solid;
  border-radius: 10px;
}

.footer-made-icon:active {
  opacity: 0.3;
  outline:none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 54px 70px 70px 70px;
  background-color: #FFFFFF;
}

.modal-auth {
  width: 575px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-title {
  margin: 0;
  margin-bottom: 59px;
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 70px;
  margin-top: 54px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
  
}

.modal-close-button:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: #756257;
  outline-style: solid;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-button {
  width: 575px;
  height: 60px;
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.modal-button:hover {
  background: #68A2CA;
}

.modal-button:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: #756257;
  outline-style: solid;
}

.modal-button:active {
  opacity: 0.3;
}

.appointment-title {
  font-family: "PT Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  color: #000000;
}

.appointment-form-group {
  margin: 0;
}

.appointment-form-field {
  padding: 0 18px;
  width: 420px;
  height: 50px;
  margin-left: 45px;
  background: #F2F2F2;
  border: 4px solid transparent;
  box-sizing: border-box;
  background-image: url("../images/calendar.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.appointment-form-field:hover {
  background: #E6E6E6;
}

.appointment-form-field:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: #83B3D3;
  outline-style: solid;
  background: #E6E6E6;
} 

.appointment-form-field:active {
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: #000000;
  outline-style: solid;
  background: #ffffff;
} 

.appointment-info {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin: 0 0 0 152px;
  padding: 0;
  color: #FF5757;
}

.appointment-information {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin: 0 0 0 152px;
  padding: 0;
  color: #333333;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 575px;
  box-sizing: border-box;
}

.amount-field {
  font: inherit;
  width: 70px;
  margin: 0;
}

.amount-of-adults,
.amount-of-children {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.amount-of-children {
  margin-left: 56px;
}

.amount button[name="min-adult"] {
  margin-left: 70px;
}

.amount button[name="min-children"] {
  margin-left: 18px;
}

.amount button {
  height: 50px;
  width: 40px;
  border: none;
  background-color: #f2f2f2;
}

.button-min {
  background-image: url("../images/minus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-min:focus, .button-pluse:focus {
  width: 25px;
  height: 25px;
  outline-width: 4px;
  outline-offset: -4px;
  outline-color: #83B3D3;
  outline-style: solid;
  background-color: #ffffff;
} 

.button-pluse {
  background-image: url("../images/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

button, input {
  overflow: visible;
  font: inherit;
}

.amount-field {
  width: 60px;
  height: 48px;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
}

.amount button[name="plus-adult"] {
  margin-right: 52px;
}

.info-link {
  position: relative;
  margin-left: 12px;
  transition: color ease-in-out .2s;
}

.info-icon {
  transition: fill ease-in-out .2s;
}

.info-title {
  position: absolute;
  top: -5px;
  right: -4px;
  width: 19px;
  height: 19px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 50%;
}

.popover-info {
  position: absolute;
  top: 420px;
  right: 85px;
  z-index: 1;
  width: 256px;
  min-height: 143px;
  box-sizing: border-box;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
}

.popover-info::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 122px;
  border: 10px solid transparent;
  border-bottom: 10px solid #333333;
}

.popover-description {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 15px 18px 18px 22px;
  margin: 0;
}

